In [1]:
import pandas as pd

campaign = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/bank.csv')

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
3503,28,blue-collar,married,basic.9y,no,no,yes,telephone,may,fri,4,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,yes
3211,29,blue-collar,single,high.school,no,yes,no,telephone,may,fri,1,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,yes
27774,44,entrepreneur,married,basic.4y,no,yes,no,cellular,may,tue,2,999,0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,yes
33933,71,retired,single,university.degree,no,yes,no,cellular,aug,thu,1,6,2,failure,-2.9,92.201,-31.4,0.851,5076.2,yes
3217,31,blue-collar,married,basic.6y,unknown,unknown,unknown,telephone,may,fri,1,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,yes
15195,57,self-employed,married,university.degree,no,no,yes,cellular,jul,thu,2,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,yes
3213,44,management,single,university.degree,unknown,yes,no,telephone,may,fri,1,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,yes
33937,24,admin.,single,university.degree,no,yes,no,cellular,aug,thu,1,999,0,nonexistent,-2.9,92.201,-31.4,0.851,5076.2,yes
12095,34,admin.,married,high.school,no,no,no,cellular,jul,wed,5,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,yes
3223,45,technician,married,university.degree,no,yes,no,telephone,may,fri,3,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,yes